## 3rd Oct 2019
## Dictionary comprehension

In [2]:
l1=[1,2,3,4,5,6]
l2=[ele**2 for ele in l1]
print(" ".join(map(str,l2)))

1 4 9 16 25 36

In [6]:
d1={val:val**2 for val in l1}
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [7]:
s='apple ball cat dog elephant'
d2={word[0]:word for word in s.split()}
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [8]:
d2={word[0]:word.capitalize() for word in s.split()}
d2

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [9]:
print(l1)
s2="one two three four five six"
s2

[1, 2, 3, 4, 5, 6]

'one two three four five six'

In [10]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [12]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

## Tuple comprehensions

In [14]:
tuple( val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

* calculate the sum of first n values

In [1]:
n=int(input())
sum(tuple(e for e in range(1,n+1)))

5

15

In [4]:
n=int(input())
sum([e for e in range(1,n+1) if e%2==0])

10

30

## Task

* 1.Take two list of same length as input and return a dictionary with one as keys and other as values. 
 
  country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
  
  capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
 
  Output :  {'India': 'New Delhi','Pakistan': 'Islamabad','Nepal':'Kathmandu','Bhutan': 'Thimphu','China': 'Beijing','Bangladesh': 'Dhaka'}

In [8]:
country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
dic={k:v for k,v in zip(country,capital)}
dic

{'India': 'New Delhi',
 'Pakistan': 'Islamabad',
 'Nepal': 'Kathmandu',
 'Bhutan': 'Thimphu',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka'}