# Lambda
* Syntax:lambda arguments:expression
* we can write 0 or more arguments but only one expression

In [2]:
def cube(x):
    print(x**3)
cube(5)

125

In [3]:
lambda x:x**3

In [4]:
result=lambda x:x**3
result(5)

125

### Multiply given number with 109 using lambda function

In [5]:
5*109

545

In [7]:
a=lambda x:x*109
a(5)

545

### Write a program to print cubes of 1 to 6 numbers without using loops

In [12]:
l1=[1,2,3,4,5,6]
a=lambda x:x**3
list(map(a,l1))

[1, 8, 27, 64, 125, 216]

In [11]:
list(map(lambda x:x**3,[1,2,3,4,5,6]))

[1, 8, 27, 64, 125, 216]

# Filters
* Filter function in python is used to check wheather given element is true or false
* Syntax: filter(Function,Sequence)

In [19]:
#Given one list li=[1,2,"q","l"]
def isDigit(a):
    a=str(a)
    if a.isdigit():
        return True
    return False
isDigit("l")

False

In [25]:
li=[1,2,"q","l"]
list(filter(isDigit,li))

[1, 2]

### To print all prime numbers for a given range using filter() function

In [26]:
def prime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    if count==2:
        return True
    return False
prime(10)

False

In [35]:
list((filter(prime,range(10))))

[2, 3, 5, 7]

In [37]:
print(" ".join(map(str,filter(prime,range(10)))))

2 3 5 7

### Print all even numbers in the range between 20 to 50 using lambda() and filter()

In [41]:
a=lambda x:x%2==0
print(" ".join(map(str,(filter(a,range(20,51))))))

20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

### Generating a random data in file

In [47]:
from random import randint
def generatemarks(n,lb,ub):
    filename="data.txt"
    with open(filename,"w") as f:
        for i in range(n):
            marks=randint(lb,ub)
            f.write(str(marks)+"\n")
    return

generatemarks(100,0,100)

#### Given two lists l1 and l2,l1 contains first name and l2 contains last name.Write a program to print single list that should contain full name of l1 and l2 and first letter must be capital

In [60]:
# l1=["alekhya"]
# l2=["ganji"]
# output:["Alekhya Ganji"]
l1=["parameswari","bhavana","teju","bharath"]
l2=["puramsetty","puramsetty","kadiri","soma"]
a=lambda x,y :x[0].upper()+x[1:]+" "+y[0].upper()+y[1:]
list(map(a,l1,l2))

['Parameswari Puramsetty', 'Bhavana Puramsetty', 'Teju Kadiri', 'Bharath Soma']

In [61]:
l1=["parameswari","bhavana","teju","bharath"]
l2=["puramsetty","puramsetty","kadiri","soma"]
a=lambda x,y :x.capitalize()+" "+y.capitalize()
list(map(a,l1,l2))

['Parameswari Puramsetty', 'Bhavana Puramsetty', 'Teju Kadiri', 'Bharath Soma']

In [6]:
#Printing a string by removing vowels in it
l1=list(input())
for i in l1:
    if i=='a'or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        continue
    print(i,end="")

abcdef
bcdf

In [35]:
#Printing a string by removing consonants in it
def checkvowel(char):
    v=["a","e","i","o","u","A","E","I","O","U"]
    for i in char:
        if i not in v:
            continue
        print(i,end="")
x=list(input())
checkvowel(x)

aeiouyhgfdv
aeiou

In [14]:
# sum of all odd integers in a given larger number
n=list(input())
count=0
for i in n:
    if int(i)%2!=0:
        count+=int(i)
print(count)

1234
4

In [18]:
# printing no.of words in a sentence
s=list(input().split())
count=0
for i in s:
    count+=1
print(count)

I am a graduate student
5

In [32]:
#Check balance of paranthesis

def paranth(s):
    c1=0
    c2=0
    for i in s:
        
        if i=='(':
            c1+=1
        if i==')':
            c2+=1
    if c1==c2:
        print(True)
    print(False)
s=list(input())
paranth(s)

(abvsfdgt)(vsgs)Vgaf(
False

In [49]:
#Sorting first half in ascending order and second half in descending order
s=list(map(int,input().split(" ")))
l1=s[0:int(len(s)/2)]
l2=s[int(len(s)/2):int(len(s))]
p=sorted(l1)
q=sorted(l2,reverse=True)
r=" ".join(map(str,p))
s=" ".join(map(str,q))
print(r+" "+s)

4 3 2 6 7 8 9 44
2 3 4 6 44 9 8 7

In [4]:
#Sorting whole list and dividing first half into ascending and second half into descending
s=list(map(int,input().split(" ")))
p=sorted(s)
q=p[0:int(len(p)/2)]
r=sorted(p[int(len(p)/2):len(p)],reverse=True)
print(" ".join(map(str,q))+" "+" ".join(map(str,r)))

2 4 7 9 3 1 6 8
1 2 3 4 9 8 7 6

In [2]:
#To print distinct elements in a given array
#input: 8
#       1 2 2 4 5 6 6 7

#output:1 2 4 5 6 7
n=int(input())
li=[]
for i in range(n):
    s=input()
    li.append(s)
li1=[]
for j in li:
    if j in li1:
        continue
    li1.append(j)
print(" ".join(map(str,li1)))

8
1
2
2
4
6
6
7
8
1 2 4 6 7 8

In [5]:
# print the pattern
n,s=list(map(int,input().split(" ")))
print(n,end="\n")
print(n+1)

2 3

2

In [11]:
# pythagorean triplets upto given limit
limit=int(input())
for i in range(3,limit+1):
    for j in range(3,limit+1):
        for k in range(3,limit+1):
            if (i**2)+(j**2)==k**2:
                print(i,j,k,end="\n")

20
3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
12 16 20
15 8 17
16 12 20